<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      NOVIDADES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides>
    <ion-slide>
      <div class="slide">
        <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/4j0PNHkMr5ax3IA8tjtxcmPU3QT.jpg"/>
        <h2>Tchau</h2>
        <p>
         Oi
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/4j0PNHkMr5ax3IA8tjtxcmPU3QT.jpg" />
      <h2>lorem ipsum</h2>
      <p>
        oi141251254
      </p>
    </ion-slide>
  </ion-slides>
</ion-content>
