<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      NOVIDADES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item color="dark">
      <ion-icon name="search" slot="start" color="warning"></ion-icon>
      <ion-label color="warning">ANIMAÇÃO</ion-label>
    </ion-item>
  </ion-card>
  <ion-slides>
    <ion-slide *ngFor="let item of newMovies">
      <ion-card>
        <div class="slide">
          <img [src]="item.imagem"/>
          <h1>{{item.nome}}</h1>
          <p>{{item.lancamento}} - {{item.duracao}}</p>
        </div>
      </ion-card>
    </ion-slide>

  </ion-slides>
</ion-content>
