@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@keyframes growProgressBar {
  0%, 33% { --pgPercentage: 0; }
  100% { --pgPercentage: var(--value); }
}

ion-item-options {
  font-family: 'Ubuntu', sans-serif;
}

ion-label {
  div {
    width: 80%;
    span {
      color: gray;
      font-size: .7rem;
      margin-right: 3px;
    }
  }
}

ion-item {

  --padding-start: 10px;
  --inner-padding-end: 10px;

  ion-thumbnail {
    height: 100%;
    img {
      border-radius: 3px;
    }
  }

  h1 {
    font-weight: bold;
    font-size: 1.3rem;
  }

  p {
    font-size: .6rem;
  }

  p + p {
    color: gray;
  }

  ion-chip {
    padding-inline: 3px;
    width: 3.5rem;
    height: 3.5rem;
    font-weight: bold;
    border-radius: 50%;
    ion-label {
      text-align: center;
    }
  }

}
