<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title> FILMES </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar (ionChange)="getMovies($event)" showCancelButton="focus" placeholder="Buscar"></ion-searchbar>

  <div *ngIf="movieList && movieList.results.length === 0" class="failed">
    <ion-icon color="danger" name="videocam-off-outline"></ion-icon>
    <p color="danger">
    Não foi possível encontrar seu filme! <br> <strong>Tente outro nome!</strong></p>
  </div>

  <ion-list *ngIf="movieList">

    <ion-item-sliding *ngFor="let item of movieList.results">
      <div>
        <ion-item-options side="end">
          <ion-item-option class="options" color="warning" expandable (click)="sendAlert(item.title)">
            <ion-icon name="star"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item lines="full" (click)="showMovie(item)">
          <ion-thumbnail slot="start">
            <img *ngIf="item.poster_path"
            src="https://www.themoviedb.org/t/p/w500/{{item.poster_path}}"
            />
            <ion-icon *ngIf="!item.poster_path" name="videocam-off"></ion-icon>
          </ion-thumbnail>
          <ion-label>
            <div class="ion-text-wrap">
              <h1>{{item.title}}</h1>
              <p>{{item.release_date | date: 'shortDate'}} - {{item.original_language.toUpperCase()}}</p>
              <div>
                <ion-badge color="medium" *ngFor="let genre_id of item.genre_ids" color="darker">{{genres[genre_id]}}</ion-badge>
              </div>
            </div>
          </ion-label>
          <ion-chip
            [color]="item.vote_average < 5 ? 'danger' : ((item.vote_average < 7) ? 'warning' : 'success')"
            outline="true"
          >
            {{item.vote_average*10}}<p>%</p>
          </ion-chip>
        </ion-item>
      </div>
    </ion-item-sliding>

  </ion-list>
</ion-content>
