@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

ion-item-options {
  font-family: 'Ubuntu', sans-serif;
}

ion-label {
  div {
    width: 80%;
    span {
      color: rgb(255, 255, 255);
      font-size: .7rem;
      margin-right: 3px;
    }
    ion-badge {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: rgb(255, 255, 255);
      font-size: .7rem;
      margin-right: 3px;
    }
  }
}

ion-item {

  --padding-start: 10px;
  --inner-padding-end: 10px;

  ion-thumbnail {
    height: 100%;
    img {
      border-radius: 3px;
    }
  }

  h1 {
    font-weight: bold;
    font-size: 1.3rem;
  }

  p {
    font-size: .6rem;
  }

  p + p {
    color: gray;
  }

  ion-chip {
    text-align: center;

    width: 3.5rem;
    height: 3.5rem;
    font-weight: bold;
    border-radius: 50%;

    font-family: 'Raleway';
    font-size: 20px;

    ion-label {
      text-align: center;
    }
    p {
      font-family: 'Raleway';
      font-size: 10px;
      position: absolute;
      margin-left: 23px;
      margin-top: 12px;
    }
  }

}
