<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title> CONTA </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar showCancelButton="focus" placeholder="Buscar"></ion-searchbar>

  <ion-card>
    <ion-item color="dark">
      <ion-icon name="film" slot="start" color="warning"></ion-icon>
      <ion-label color="warning">FILMES FAVORITOS</ion-label>
    </ion-item>

    <ion-card-content>
      Esses filmes foram escolhidos por você!
    </ion-card-content>
  </ion-card>

  <ion-list>

    <ion-item lines="full" *ngFor="let item of favoriteMovies">
      <ion-thumbnail slot="start">
        <img [src]="item.imagem"/>
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <h1>{{item.nome}}</h1>
        <p>{{item.lancamento}} - {{item.duracao}}</p>
      </ion-label>
      <ion-button fill="outline" slot="end" color="danger">
        <ion-icon slot="start" name="trash"></ion-icon>
        REMOVER
      </ion-button>
    </ion-item>

  </ion-list>

</ion-content>
