<ion-header [translucent]="true">
<ion-toolbar color="dark">
  <ion-title *ngIf="movie">{{movie.nome}} </ion-title>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-card *ngIf="movie">
      <ion-card-header>
        <img *ngIf="movie.poster_path"
        src="https://www.themoviedb.org/t/p/w500/{{movie.poster_path}}"
        />
      </ion-card-header>
      <ion-card-content class="slide" color="darker">
        <h1>{{movie.name}}</h1>
        <p>{{movie.release_date | date: 'shortDate'}} - {{movie.original_language.toUpperCase()}}</p>
        <div class="badge-holder" id="starRating" hidden="true">
          <ion-icon id="star-1" name="star" color="danger"></ion-icon>
          <ion-icon id="star-2" name="star" color="danger"></ion-icon>
          <ion-icon id="star-3" name="star" color="danger"></ion-icon>
          <ion-icon id="star-4" name="star" color="danger"></ion-icon>
          <ion-icon id="star-5" name="star"></ion-icon>
        </div>
        <div class="badge-holder" *ngIf="!carregado">
          <ion-spinner name="dots"></ion-spinner>
        </div>
        <p class="rating">{{rating}}</p>
        <div class="badge-holder">
          <ion-badge color="medium" *ngFor="let categoria of movie.genre_ids" color="darker">{{genres[genre_id]}}</ion-badge>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-grid>
  <div *ngIf="!movie" class="failed">
    <ion-icon color="danger" name="sad-outline"></ion-icon>
    <p color="danger">
    Não foi possível carregar seu filme! <br> <strong>Reinicie a aplicação...</strong></p>
  </div>
</ion-content>